.footer {
    display: flex;
    width: 100%;
    padding: var(--space-200) var(--layout-margin);
    align-items: center;
    gap: var(--space-150);
    background: var(--color-gray-0);
    border-top: var(--border-blue);
}

.info {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--space-150);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-150);
}

.instagramLink {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.text {
    text-align: right;
    color: var(--color-looppah-blue-800);
}

.email {
    white-space: nowrap;
}