.btn {
    display: inline-flex;
    overflow: hidden;

    padding: var(--space-100) var(--space-150);
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    color: var(--color-gray-0);
    border: none;
    border-radius: var(--radius-full);
    cursor: pointer;
    text-overflow: ellipsis;
}

/* ─── Variants ────────────────────────────────── */
.primary {
    background-color: var(--color-looppah-blue-500);
    box-shadow:
            inset 1px 1px 5px 0px var(--color-looppah-blue-700),
            0px 1px 5px 0px var(--color-looppah-blue-200);
}

.dark {
    background-color: var(--color-looppah-blue-800);
    box-shadow:
            inset 1px 1px 5px 0px var(--color-looppah-blue-900),
            0px 1px 5px 0px var(--color-looppah-blue-400);
}