.page {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-top: var(--layout-margin-top);
    flex-direction: column;
}

.navbarWrap {
    position: fixed;
    top: var(--layout-margin-top);
    right: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.navbarWrap > * {
    pointer-events: auto;
}
